


  
     <div class="main">
       <div class="welcome">
    <br><br>
         <h1 class="mat-display-1">Welcome</h1> 
         <h1 class="mat-display-1">To</h1> 
         <h1 class="bold">Stark  Air</h1>
         <br>
         <h4 class="description">THE REAL JOURNEY  OF DISCOVERY CONSISTS NOT IN SEEKING NEW LANDSCAPES, BUT IN HAVING NEW EYES
        </h4>
         <button mat-flat-button color="primary" class="learn" (click)="learnMore()">Learn More</button>
     
       </div>
       <div class="image"><img src="assets/img/aircraft.png" alt=""></div>
   
       
   
     </div>
    
  


