<div class="container">
   
<div class="cards">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Nishan</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/nishan.jpeg" alt="Nishan">
    <mat-card-content>
      <p>
        The actual embodiment of 'Tony Stark', contrary to popular belief, "he knows exactly what he's doing"! If Roja is the pilot to Stark Air, Nishan is very well, in all regards, the co-pilot. Like Iron Man, he approaches every problem with tunnel vision and almost always delivers a solution! Cheers to our team's genius who we can't wait to see check the billionaire and philanthropist boxes soon too! 
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>
</div>
<div class="cards">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mukul </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/mukul2.jpeg" alt="Mukul" style="height: 45%; width: 114%;">
  <mat-card-content>
    <p>
      They say "Silence is the fence around wisdom"  and as far as Mukul is concerned, they say damn right! Always a man of action over speech, he's Stark Air's emergency parachute, quite literally! Brimming with immense creativity, with a knack for off-beat ideas and managing to couple all that with an awe-inspiring level-headedness, kudos to our team's 'Thor'!

    </p>
  </mat-card-content>
  <mat-card-actions>
   
  </mat-card-actions>
</mat-card>
</div>
<div class="cards">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Siddharth</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/siddharth2.jpg" alt="Siddharth" style="height: 45%; width: 114%;">
    <mat-card-content>
      <p>
        Quick on his feet like 'Black Widow', as loyal as 'Thor' and as smart as 'Falcon', you'd ask how all of that could be one person and we'd just point towards Siddharth! His wacky, over-the-top and absolutely ambitious ideas is what has gotten Stark Air to fly as high as it can because he, and only he can lead those ideas to fruition! The sky's the limit for the Siddharth, the 'wings' of Stark Air!
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>
</div>
<div class="cards">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>K Roja</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/roja.jpeg" alt="Roja" style="height: 45%; width: 114%;">
    <mat-card-content>
      <p>
        The pilot of Stark Air, Roja is our very own Steve Rogers! Personifying the Captain's traits,  she revels in fairness and upholds the team over all else, even her own self. Never one to back down from a challenge, she isn't afraid of being her team's shield too when push comes to shove! If you ask her "How do we do this?", you know damn well the reply will always be "As a team"! May our cap'n always fly high!
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>
</div>

</div>