

<div [ngClass]="{one:first[0],two:first[1],three:first[2],four:first[3],five:first[4]}">
    <input type="text">
    <br>
    <button>casfd</button>
    <input type="text">
    <br>
    <button>casfd</button>
</div>
<div [ngClass]="{one:second[0],two:second[1],three:second[2],four:second[3],five:second[4]}">
    <input type="text">
    <br>
    <button>casfd</button>
    <input type="text">
    <br>
    <button>casfd</button>
</div>
<div [ngClass]="{one:third[0],two:third[1],three:third[2],four:third[3],five:third[4]}">
   <div class="inside">
    <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">
        
      </mat-form-field>
   </div>
</div>

<button (click)="fu()" >sfvd</button>
<button (click)="fu2()" >second</button>
